#arf {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: #db9b24;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    float: middle;
    text-align: center;
}
  
#arf:hover {
    background-color: #ffd079;
    color: #bd851d;
    transition: 0.5s;
}

html, body{
    background-color: #ffdb9a;
    font-family: 'Momo Trust Sans', sans-serif;
    padding: 0px;
}

.momo-trust-sans {
  font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p, button {
    color: #bd851d;
    font-size: 1.5rem;
    margin-left: 2rem !important;
    margin: 1rem;
}

 h4{
    color: #bd851d;
    font-size: 1rem;
    margin-left: 2rem !important;
    margin: 1rem;
 }

h3{
    color: #ffd079;
    margin-left: 2rem;
    padding: 5px
}

#top{
    background-color: #bd851d;
    border-radius: 3px;
    margin: 0 auto;
    align-items: center;
    padding: 0.5rem;
}

button {
    background-color: #ffd079;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Momo Trust Sans", sans-serif;
}

#sell, #sellDesc, #mark, #markDesc, #winmsg {
    display: none;
}

#winmsg{
    color: #db9b24;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.progress-container {
    width: 90vw;
    background-color: #ffd079;
    border-radius: 5px;
    overflow: hidden;
    margin:  10px auto;
}

.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #d49621;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.4s ease;
}

h6{
    color: #bd851d;
    font-size: 0.8rem;
    margin-left: 2rem !important;
    margin: 1rem;
}